html,
body,
#app,
.view {
  height: 100%;
  padding: 0;
  margin: 0;
}
#app {
  background-color: #eeeeee;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.notice {
  width: 240px;
  font-size: 12px;
}
.notice p {
  font-size: 0.8rem;
}
.notice h3 {
  font-size: 1.5em;
  margin: 0 0;
}
.notice strong {
  font-size: 1.2em;
  color: #f75c2f;
}
.notice img {
  margin: 10px 0;
}
